@font-face {
  font-family: "Consola";
  src: url("/fonts/Inconsolata-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Consola";
  src: url("/fonts/Inconsolata-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Akira Expanded";
  src: url("/fonts/Akira-Expanded.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
}

.page-padding {
  padding-inline: 2rem;
}

.container {
  max-width: 80rem;
  margin: 0 auto;
}

.gradient {
  width: 100%;
  height: 300px;
}

.gradient-up {
  background-image: linear-gradient(180deg, #d0d5dd00, var(--gray300));
}

.gradient-down {
  background-image: linear-gradient(0deg, #d0d5dd00, var(--gray300));
}

p {
  color: var(--gray800);
  letter-spacing: normal;
  margin-bottom: 0;
  font-size: 1rem;
  line-height: 1.6;
}

a {
  color: var(--gray800);
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
}

a:visited {
  color: var(--gray800);
}
