---
import Hero from "@/components/Hero.astro";
import KeyFeatures from "@/components/KeyFeatures.astro";
import UniqueDesign from "@/components/UniqueDesign.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="page-padding">
      <Hero />
      <UniqueDesign />
    </div>
    <div class="gradient gradient-up"></div>
    <KeyFeatures />
    <div class="gradient gradient-down"></div>
  </main>
</Layout>

<style>
  .gradient {
    width: 100%;
    height: 300px;
  }

  .gradient-up {
    background-image: linear-gradient(180deg, #d0d5dd00, var(--gray300));
  }

  .gradient-down {
    background-image: linear-gradient(0deg, #d0d5dd00, var(--gray300));
  }
</style>
