---
import GodzillaMode from "@/components/GodzillaMode.astro";
import Hero from "@/components/Hero.astro";
import KeyFeatures from "@/components/KeyFeatures.astro";
import ThrillOfRiding from "@/components/ThrillOfRiding.astro";
import UniqueDesign from "@/components/UniqueDesign.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <main>
    <div class="page-padding">
      <Hero />
      <UniqueDesign />
    </div>
    <div class="gradient gradient-up"></div>
    <KeyFeatures />
    <GodzillaMode />
    <ThrillOfRiding />
  </main>
</Layout>
