---

---

<section class="header container">
  <div class="header__sun">
    <img src="/logo.png" alt="Ichiban Logo" class="header__sun__logo" height="56" fetchpriority="high" />
  </div>
  <div class="header__content">
    <div class="header__content__column header__content__column--left">
      <div class="header__content__column__top"><span>DESCRIPTION</span><span>MOD.001</span></div>
      <div class="header__content__column__border header__content__column__border--top header__content__column__border--bolder">
      </div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top header__content__column__border--bolder">
      </div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top header__content__column__border--bolder">
      </div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <p class="header__content__column__border header__content__column__border--top header__content__column__border--last">
        Ichiban isn't simply a mode of transport; it's an escape, a liberating streak of freedom in an excessively interconnected
        world.
      </p>
    </div>
    <div class="header__content__column header__content__column--middle">
      <span class="header__content__column__scroll-text">SCROLL</span>
      <div class="header__content__column__scroll-box">
        <img
          src="/icons/arrow-scroll.svg"
          alt="Arrow Scroll"
          class="header__content__column__scroll-arrow header__content__column__scroll-arrow--top"
        />
        <img
          src="/icons/arrow-scroll.svg"
          alt="Arrow Scroll"
          class="header__content__column__scroll-arrow header__content__column__scroll-arrow--bottom"
        />
      </div>

      <span class="header__content__column__scroll-text">FOR MORE</span>
    </div>
    <div class="header__content__column header__content__column--right">
      <div class="header__content__column__top">
        <span>BROWSE</span><span>LIST:FULL</span>
      </div>
      <div class="header__content__column__border header__content__column__border--top header__content__column__border--bolder">
      </div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top"></div>
      <div class="header__content__column__border header__content__column__border--top header__content__column__border--bolder">
      </div>
      <a href="#unique-design" class="header__content__column__anchor">
        <div class="header__content__column__anchor__box header__content__column__anchor__box--top">
          <div class="header__content__column__anchor__number">001</div>
          <div class="header__content__column__anchor__text">UNIQUE DESIGN</div>
        </div>
        <div class="header__content__column__anchor__box header__content__column__anchor__box--bottom">
          <div class="header__content__column__anchor__number">001</div>
          <div class="header__content__column__anchor__text">UNIQUE DESIGN</div>
        </div>
      </a>
      <a href="#key-features" class="header__content__column__anchor">
        <div class="header__content__column__anchor__box header__content__column__anchor__box--top">
          <div class="header__content__column__anchor__number">002</div>
          <div class="header__content__column__anchor__text">KEY FEATURES</div>
        </div>
        <div class="header__content__column__anchor__box header__content__column__anchor__box--bottom">
          <div class="header__content__column__anchor__number">002</div>
          <div class="header__content__column__anchor__text">KEY FEATURES</div>
        </div>
      </a>
      <a href="#godzilla-mode" class="header__content__column__anchor">
        <div class="header__content__column__anchor__box header__content__column__anchor__box--top">
          <div class="header__content__column__anchor__number">003</div>
          <div class="header__content__column__anchor__text">GODZILLA MODE</div>
        </div>
        <div class="header__content__column__anchor__box header__content__column__anchor__box--bottom">
          <div class="header__content__column__anchor__number">003</div>
          <div class="header__content__column__anchor__text">GODZILLA MODE</div>
        </div>
      </a>
      <a href="#contact-us" class="header__content__column__anchor">
        <div class="header__content__column__anchor__box header__content__column__anchor__box--top">
          <div class="header__content__column__anchor__number">004</div>
          <div class="header__content__column__anchor__text">CONTACT US</div>
        </div>
        <div class="header__content__column__anchor__box header__content__column__anchor__box--bottom">
          <div class="header__content__column__anchor__number">004</div>
          <div class="header__content__column__anchor__text">CONTACT US</div>
        </div>
      </a>
      <div class="header__content__column__border header__content__column__border--top"></div>
    </div>
  </div>
</section>

<style>
  .header {
    font-family: Consola, sans-serif;
    position: relative;
  }

  .header__sun {
    position: relative;
    margin: 0 auto;
    box-shadow: none;
    background-image: linear-gradient(58deg, #c74c20, var(--primary500) 38%);
    width: 800px;
    height: 800px;
    border-radius: 100%;
    z-index: 1;
    margin-top: -580px;
    animation: slideInDown 1500ms ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .header__sun__logo {
    margin: 0 auto;
    margin-top: 500px;
    max-height: 56px;
  }

  @keyframes slideInDown {
    from {
      transform: translate3d(0, -100%, 0);
      opacity: 0;
    }
    to {
      transform: translate3d(0, 0, 0);
      opacity: 1;
    }
  }

  .header__content {
    width: 100%;
    position: absolute;
    top: 51rem;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-auto-columns: 1fr;
    padding-inline: 2rem;
    z-index: 10;
  }

  .header__content__column__border {
    width: 100%;
    height: 1.75rem;
    border-top: 1px solid var(--border-color);
  }

  .header__content__column__border--bolder {
    border-top: 2px solid var(--border-color);
  }

  .header__content__column__border--last {
    height: auto;
    margin-top: 0;
    padding-top: 0.5rem;
    font-size: 0.875rem;
  }

  .header__content__column {
    width: 100%;
  }

  .header__content__column__top {
    font-size: 0.75rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
  }

  .header__content__column--middle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  .header__content__column__scroll-text {
    font-family: Consola, sans-serif;
    font-weight: normal;
    font-size: 0.75rem;
    color: var(--gray800);
  }

  .header__content__column__scroll-box {
    color: black;
    border: 1.5px solid black;
    border-radius: 2px;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    position: relative;
    overflow: hidden;
  }

  .header__content__column__scroll-arrow {
    position: absolute;
    width: 0.5rem;
    height: 0.625rem;
  }

  .header__content__column__scroll-arrow--top {
    animation: arrowDown 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) infinite;
  }

  .header__content__column__scroll-arrow--bottom {
    animation: arrowUp 1.2s cubic-bezier(0.895, 0.03, 0.685, 0.22) infinite;
  }

  @keyframes arrowDown {
    0% {
      transform: translateY(-25px);
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes arrowUp {
    0% {
      transform: translateY(-0);
    }
    100% {
      transform: translateY(25px);
    }
  }

  .header__content__column__anchor {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-block: 0.5rem;
    border-top: 1px solid var(--border-color);
    position: relative;
    overflow: hidden;
    height: 3.5rem;
  }

  .header__content__column__anchor__box {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header__content__column__anchor__box--top {
    transform: translateY(-100px);
  }

  .header__content__column__anchor__box--bottom {
    transform: translateY(0);
  }

  .header__content__column__anchor__number {
    flex: 1;
  }

  .header__content__column__anchor__text {
    flex: 5;
  }

  .header__content__column__anchor:hover .header__content__column__anchor__box--top {
    transform: translateY(0);
  }

  .header__content__column__anchor:hover .header__content__column__anchor__box--bottom {
    transform: translateY(100px);
  }
</style>
