---

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="A high-performance clone of Ichiban.bike built with Astro, featuring smooth scroll animations and optimized frame-by-frame sequences. Achieves 72% size reduction and 12x faster DOM loading compared to original. Showcases advanced web optimization techniques and modern development practices."
    />
    <link rel="icon" type="image/png" href="/favicon_32.png" />
    <link rel="icon" type="image/png" href="/favicon_256.png" />
    <link
      href="https://cdn.prod.website-files.com/66cfddaa1d0f79b524971014/66dc210802429c73b80c27eb_favicon_32.png"
      rel="shortcut icon"
      type="image/x-icon"
    />
    <link
      href="https://cdn.prod.website-files.com/66cfddaa1d0f79b524971014/66dc210da803d0d57fe3b539_favicon_256.png"
      rel="apple-touch-icon"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Ichiban Clone</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  @font-face {
    font-family: "Consola";
    src: url("/fonts/Inconsolata-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Consola";
    src: url("/fonts/Inconsolata-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Akira Expanded";
    src: url("/fonts/Akira-Expanded.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  .page-padding {
    padding-inline: 2rem;
  }

  .container {
    max-width: 80rem;
    margin: 0 auto;
  }

  .gradient {
    width: 100%;
    height: 300px;
  }

  .gradient-up {
    background-image: linear-gradient(180deg, #d0d5dd00, var(--gray300));
  }

  .gradient-down {
    background-image: linear-gradient(0deg, #d0d5dd00, var(--gray300));
  }

  p {
    color: var(--gray800);
    letter-spacing: normal;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.6;
  }

  a {
    color: var(--gray800);
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
  }

  a:visited {
    color: var(--gray800);
  }

  p,
  a,
  span,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0;
  }

  :root {
    /* Grays */
    --gray25: #fcfcfd;
    --gray50: #f9fafb;
    --gray100: #f2f4f7;
    --gray200: #eaecf0;
    --gray300: #d0d5dd;
    --gray400: #98a2b3;
    --gray500: #667085;
    --gray600: #475467;
    --gray700: #344054;
    --gray800: #1d2939;
    --gray900: #101828;

    --border-color: #10182826;

    /* Primary */
    --primary25: #fed8d3;
    --primary50: #f5c5be;
    --primary100: #ecb1aa;
    --primary200: #da8b81;
    --primary300: #d6bbfb;
    --primary400: #b63e2e;
    --primary500: #a41705;
    --primary600: #7f56d9;
    --primary700: #620e03;
    --primary800: #420902;
    --primary900: #210501;

    /* Error */
    --error25: #fffbfa;
    --error50: #fef3f2;
    --error100: #fee4e2;
    --error200: #fecdca;
    --error300: #fda29b;
    --error400: #f97066;
    --error500: #f04438;
    --error600: #d92d20;
    --error700: #b42318;
    --error800: #912018;
    --error900: #7a271a;

    /* Warning */
    --warning25: #fffcf5;
    --warning50: #fffaeb;
    --warning100: #fef0c7;
    --warning200: #fedf89;
    --warning300: #fec84b;
    --warning400: #fdb022;
    --warning500: #f79009;
    --warning600: #dc6803;
    --warning700: #b54708;
    --warning800: #93370d;
    --warning900: #7a2e0e;

    /* Success */
    --success25: #f6fef9;
    --success50: #ecfdf3;
    --success100: #d1fadf;
    --success200: #a6f4c5;
    --success300: #6ce9a6;
    --success400: #32d583;
    --success500: #12b76a;
    --success600: #039855;
    --success700: #027a48;
    --success800: #05603a;
    --success900: #054f31;

    /* Indigo */
    --indigo25: #f5f8ff;
    --indigo50: #eef4ff;
    --indigo100: #e0eaff;
    --indigo200: #c7d7fe;
    --indigo300: #a4bcfd;
    --indigo400: #8098f9;
    --indigo500: #6172f3;
    --indigo600: #444ce7;
    --indigo700: #3538cd;
    --indigo800: #2d31a6;
    --indigo900: #2d3282;

    /* Blue */
    --blue25: #f5faff;
    --blue50: #eff8ff;
    --blue100: #d1e9ff;
    --blue200: #b2ddff;
    --blue300: #84caff;
    --blue400: #53b1fd;
    --blue500: #2e90fa;
    --blue600: #1570ef;
    --blue700: #175cd3;
    --blue800: #1849a9;
    --blue900: #194185;

    /* Pink */
    --pink25: #fef6fb;
    --pink50: #fdf2fa;
    --pink100: #fce7f6;
    --pink200: #fcceee;
    --pink300: #faa7e0;
    --pink400: #f670c7;
    --pink500: #ee46bc;
    --pink600: #dd2590;
    --pink700: #c11574;
    --pink800: #9e165f;
    --pink900: #851651;

    /* Orange */
    --orange25: #fefaf5;
    --orange50: #fef6ee;
    --orange100: #fdead7;
    --orange200: #f9dbaf;
    --orange300: #f7b27a;
    --orange400: #f38744;
    --orange500: #ef6820;
    --orange600: #e04f16;
    --orange700: #b93815;
    --orange800: #932f19;
    --orange900: #772917;

    /* Misc */
    --white: white;
    --black: black;
    --text-gradient-start: #3f4551;
    --text-gradient-end: #191c22;
  }
</style>
